.header {
  display: flex;
  justify-content: center;
  align-items: center;

  
  
  padding: 16px 0;
  width:100%;
}

.content  {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
}

@media (max-width: 1024px) {
  .header {
    padding: 16px;
  }
}

.logo {
  font-family: 'Space Grotesk';
  font-size: 22px;

}

.smart {
  font-weight: 400;
  color: rgba(255,255,255,1);
}

.mob {
  font-weight: 400;
  color: rgba(255,255,255,.9);
}

.menu {
  display:flex;
}

.menuItem {
  margin: 10px;
  color:white;
}

.button {
  background: #006cf3;
  padding: 8px 16px;
  color:white;
  border-radius: 3px;
}