
.hero {
  display:flex;
  
  width:100%;
  
  
  margin-top: 42px;
  color:white;
  max-height: 90vh;
  justify-content: center;
  overflow: hidden;
  background:
  linear-gradient(0deg,rgba(22, 242, 216, 0.159), #006df318, rgb(0, 0, 0));
  /* linear-gradient(45deg,#006df324,rgba(0, 0, 0, 0.24) ); */

}

.content {
  max-width: 1024px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width:100%;
}

.infos {
  display:flex;
  flex-direction: column;
align-items: center;
}

.image {
  display:flex;
  align-items:center;
  justify-content: center;
  position:relative;
}

.phone {
  border-top:30px solid black;
  border-radius: 10px;
}

.title {
  font-size: 52px;
  margin: 0;
  text-align:center;
  font-weight: 500;
  font-family: 'Space Grotesk';
}


.description {
  width:60%;
  font-size: 24px;
  margin: 12px 0;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 1024px) {
  .hero {
    padding: 0 8px;
  }
  .title {
    font-size: 42px;
  }
  .description {
    font-size: 18px;
    width:100%;
  }
}

.titleHighlight {
  background: -webkit-linear-gradient(45deg, #006cf3, rgb(22, 242, 216)); 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
}

.button {
  background: linear-gradient(45deg, #006cf3, rgba(22, 242, 216, 0.752));
  font-size: 18px;
  padding: 12px 32px;
  color:white;
  border-radius: 3px;
  margin: 10px 0 8px
}